<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-firestore-compat.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Grupo</title>
</head>

   <body>
    <header>
        <img src="/assets/img/Orbit Negro_Mesa de trabajo 1.png" alt="">
        <h1>Crear un Nuevo Grupo de Chat</h1>
        <button id="menu-btn"><a href="./inicio.html"><i class="fas fa-home"></i></a></button>
    </header>

    <main>
        <form id="create-group-form">
            <label for="group-name">Nombre del Grupo:</label>
            <input type="text" id="group-name" name="group-name" required placeholder="Ingresa el nombre del grupo">

            <label for="group-description">Descripción del Grupo:</label>
            <textarea id="group-description" name="group-description" required placeholder="Describe el propósito del grupo"></textarea>

            <button type="submit">Crear Grupo</button>
            <button>Cancelar</button>
        </form>

         <button onclick="logoutUser()" id="logout-btn">Cerrar Sesión</button>
    </main>

    <script src="/assets/js/app.js"></script>
   </body>

</html>