<!DOCTYPE html>
<html lang="es">

<head>
       
    <meta charset="UTF-8">
       
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Créditos de Película</title>
       
    <link rel="stylesheet" href="/assets/css/creditos.css">
</head>

<body>
        <div class="credits-container">
                <div class="credits">

            <head>
                <img src="/assets/img/Orbit Negro_Mesa de trabajo 1.png" alt="">
            </head>

                        <p class="role">Project Manager</p>

                        <p>Ing. Jorge Meraz</p>

                        <br>

                        <p class="role">Desarrolladores de Front End</p>

                        <p>Amy Santos</p>

                        <p>Pablo Campos</p>

                        <p>Josue Portillo</p>

                        <p>Christopher Paredes</p>

                        <p>Roger Orellana</p>

                        <br>

                        <p class="role">Desarrolladores de Back End</p>

                        <p>Roberto Paz</p>

                        <p>Amy Santos</p>

                        <p>Lidny Martinez</p>

                        <p>Staicy Zuniga</p>

                        <p>Josue Vicente</p>

                        <p>Wilbert Montealegre</p>

                        <br>

                        <p class="role">Diseñadores de Interfaces</p>

                        <p>Sthephanie Vargas</p>

                        <p>Milly Orellana</p>

                        <p>Alejandra Paz</p>

                        <p>Marcos Discua</p>

                        <p>Katherine Reyes</p>

                        <p>Ciara Garcia</p>

                        <p>Ariana Gavarrete</p>

                        <p>Jessie Guiansante</p>

                        <p>Elizabeth Medina</p>

                        <br>

                        <p class="role">Desarrolladores del APK para celulares</p>

                        <p>Joseph Hernadez</p>

                        <p>Edder Portillo</p>

                        <p>Luis Vargas</p>

                        <br>

                        <p class="role">Desarrolladores del APK para computadoras</p>

                        <p>Atzel Hernandez</p>

                        <p class="the-end">The End</p>
                   
        </div>
           
    </div>
</body>

</html>