<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
</head>
<body>

    <h1>Bienvenido</h1>
    <header>
        <img src="../assets/img/Orbit Negro_Mesa de trabajo 1.png" alt="">
    </header>

    <h3>Escoge tu chat grupal:</h3>

    <button class="btn-info"><a href=""></a>Informática</button>
    <button class="btn-dise"><a href=""></a>Diseño Gráfico</button>
    <button class="btn-conta"><a href=""></a>Contaduría y Finanzas</button>

    


</body>
</html>